language: python
matrix:
  include:
  - python: 2.7
    env: TOXENV=py27
  - python: 3.3
    env: TOXENV=py33
  - python: 3.4
    env: TOXENV=py34
  - python: 3.5
    env: TOXENV=py35
  - python: 3.6
    env: TOXENV=py36
  - python: pypy
    env: TOXENV=pypy
before_install:
  - "sudo apt-get update"
  - "sudo apt-get install python-gi python3-gi"
install:
  - "pip install tox coverage coveralls"
script:
  - "tox"
  - "coverage report"
after_success:
  - "coveralls"

