language: python
dist: bionic
matrix:
  include:
  - python: 2.7
    env: TOXENV=py27
  - python: 3.5
    env: TOXENV=py35
  - python: 3.6
    env: TOXENV=py36
  - python: 3.7
    env: TOXENV=py37
  - python: 3.8
    env: TOXENV=py38
  - python: pypy2
    env: TOXENV=pypy
before_install:
  - "sudo apt-get update"
  - "sudo apt-get install python-gi python3-gi"
install:
  - "pip install tox coverage coverage_python_version coveralls"
script:
  - "tox"
  - "coverage report"
after_success:
  - "coveralls"

