language: python
dist: bionic
matrix:
  include:
  - python: 3.6
    env: TOXENV=py36
  - python: 3.7
    env: TOXENV=py37
  - python: 3.8
    env: TOXENV=py38
  - python: 3.9
    env: TOXENV=py39
before_install:
  - "sudo apt-get update"
  - "sudo apt-get install python-gi python3-gi libgirepository1.0-dev"
install:
  - "pip install tox coverage coveralls"
script:
  - "tox"
  - "coverage report"
after_success:
  - "coveralls"

