name: Lint YAML

on:
  pull_request:
    paths:
      - "**.yml"
      - "**.yaml"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip yamllint
      - name: Lint YAML files
        run: yamllint . -f github
